<html> 
<head> 
<meta charset="utf-8">
<title>JSON Network Traffic Generator</title> 

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"><!--For whatever reason Bootstrap dropped glyphicons. Replace "glyphicon glyphicon-" with "fa fa-" -->

<!-- Don't forget to add it after jQuery and Bootstrap -->
<script src="https://cdn.jsdelivr.net/gh/routekick/bootstrap-modal-wizard@1.0.0/dist/jquery.modal-wizard.min.js"></script>

<!--script src="http://www.skulpt.org/js/skulpt.min.js" type="text/javascript"></script-->
<!--script src="http://www.skulpt.org/js/skulpt-stdlib.js" type="text/javascript"></script-->

<!--
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
-->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head> 

<body> 

<script type="text/javascript">
var newTrafficWorkload = {};
var generatedTrafficWorkload = "{}";

function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

function httpPost(theUrl, dataJson)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "POST", theUrl, false ); // false for synchronous request
    xmlHttp.send( dataJson );
    return xmlHttp.responseText;
}

function updateDistImage()
{
  //Fetch and print the image with the proper distribution
  $("#distributionImage").html(httpGet("/distribution/"+$("#distributionSelector").val()));
}

function addTrafficWorkload(){
  //Send json with workload info to the server
  httpPost("/addTrafficWorkload/", JSON.stringify(newTrafficWorkload));
  newTrafficWorkload = {};
}

function generateTrafficWorkload(){
  //Generate json with traffic workload
  generatedTrafficWorkload = httpGet("/generateTrafficWorkload/");
}

function downloadTrafficWorkload(){
  //Download the traffic file
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(generatedTrafficWorkload));
  element.setAttribute('download', "generatedTraffic.json");
  element.style.display = 'none';
  document.body.appendChild(element);
  element.click();
  document.body.removeChild(element);
}

function plotScatter(x_list,y_list,divName){
  var data = [
    {
      x: x_list,
      y: y_list,
      type: 'scatter'
    }
  ];

  Plotly.newPlot(divName, data, {}, {showSendToCloud: true});
}
</script> 



<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h1>JSON Network Traffic Generator</h1> 
        </div>
      </div>
      <div class="row-md-12">
        <div class="col-md-12">
          <form> 
            <div class="table-responsive">
              <table id="trafficWorkloads" class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Application Name</th>
                    <th>Traffic Distribution</th>
                    <th>Packet size mean size</th>
                    <th>Packet size standard deviation</th>
                    <th><button type="button" class="btn btn-default btn-success" data-toggle="modal" data-target="#myModal">
                          <span class="fa fa-plus"></span> <!--plus sign-->
                          New traffic workload
                        </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for keyUserTrafficWorkload, valueUserTrafficWorkload in userTrafficWorkloads.items() %}
                    <tr>
                      <td>{{keyUserTrafficWorkload}}</td>
                      {% for key, value in valueUserTrafficWorkload.items() %}
                        <td>{{value}}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </form> 
        </div>
      </div>
      <div class="row-md-12">
        <div class="col-md-12">   
          <div class="btn-group" role="group">
          <button type="button" class="btn btn-success" onclick="generateTrafficWorkload()">Generate traffic</button>
          <button type="button" class="btn btn-info"    onclick="downloadTrafficWorkload()">Save generated traffic</button>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row-md-12">
        <div class="col-md-12">
          <h3>Results</h3> 
          <pre id="output" ></pre> 
          <!-- If you want turtle graphics include a canvas -->
          <div id="mycanvas"></div> 
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" data-current-step="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New traffic workload wizard</h4>
        </div>
        <form>
          <div class="modal-body">
            <fieldset data-step="1">
              <div class="form-group">
                <label for="sel1">Select a distribution:</label>
                <select class="form-control" onchange="updateDistImage()" id="distributionSelector">
                  <option></option>
                  {% for distribution in availableDistributions %}
                  <option>{{distribution}}</option>
                  {% endfor %}
                </select>
                <div id="distributionImage"></div>
              </div>
            </fieldset>
            <fieldset data-step="2">
              Select 
            </fieldset>
            <fieldset data-step="3">
              Last chance to go back. Do you want to continue?
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info" data-step-to="prev">Previous</button>
            <button type="button" class="btn btn-success" data-step-to="next">Next</button>
            <input type="submit" class="btn btn-success" data-submit onclick="addTrafficWorkload()" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $("#myModal").modalWizard();
  </script>
</div>

</body> 

</html> 